@tailwind base;
@tailwind components;
@tailwind utilities;


.default-card-border{
    border: 1px solid #2E8429;
    font-family: "Roboto", sans-serif;
}

/*

// Deixando mensagens de erros sem bordas vermelhas

.v-theme--dark div{
    color: #dbdbdb;
}

 */


